
#logo {
    float: left; 
}

#logo img {
    width: 75px; 
    height: 55px; 
}


.menuTop {
    float: left; 
    margin-left: 20px;
    
    
}
body {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    /*background-color: rgb(13, 27, 51);*/
    /*background-image: url(/img/fondoweb.jpg) ; */
    margin: 0;
    padding: 0;
    background: #000046;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #1CB5E0, #000046);  /* Chrome 10-25, Safari 5.1-6 */
     background: linear-gradient(to right, #1CB5E0, #000046); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */


}

.image-container {
   
    width: 100%; 
    height: 90vh;
    margin: 0;
    margin-bottom: 45px;
}

.image-container img {
    width: 100%;
    height: auto;
    object-fit: cover;
}
/*header {
    background-color: rgb(0, 0, 0);
    color: #000000a4;
    height: 55px;
    
    
}*/


nav ul{
padding-right: 340px;
}

.logo img {
    width: 50px;
}


.menu {
    list-style: none;
    display: flex;
    justify-content: center;
}

.menu li {
    margin-right: 20px;
}


.menu a {
    text-decoration: none;
    color: rgb(12, 233, 214);
    font-weight: bold;
    
}

.menu a:hover {
    color:rgb(12, 70, 57);
}
.carousel  {
    display: flex;
    overflow: hidden;
    width: 100%; /* El carrusel ocupará el ancho completo de la pantalla */
    height: 90vh;
    margin: 0;
    margin-bottom: 45px;
}

.carousel img {
    width: 100%;
    height: 90vh; /* La altura será igual a la altura de la ventana (viewport) */
    object-fit: cover; /* Ajustar la imagen para llenar el espacio sin deformarla */
}

.card {

    margin-top: 5%;
    margin-left: 2%;
}


button {
    margin: 10px;
}

.footer {
    display: flex;
    justify-content: center;
    font-family: cursive;
}

.footer p{
    font-weight: bold;
}
input{
    width: 100%;
    height: 100%;
    color: rgb(255, 255, 255);
    font-size: 100%;
    border: none;
    outline: none;
    background: transparent;
}
/*para darle color blanco al usuario que inicio sesion*/
.navbar .user .welcome-text {
    color: white !important;
}

.card:hover{
    opacity: 0.8;
}

.card:text{
    text-align: justify;
}

.card-img-top{
    display: block;
    margin: auto;
    max-width: 100%;
    height: auto;
    padding: 20px;   
}
